
div.header {
	position: static;
	border: 3px double black;
	padding-left: 40%;
	background-color: #70704D;
}
div.bloglist{
	width:170px;
	padding 30px;
	position: absolute;
	left 60px;
	background-color: #7AA300;
	height: 300px;
}
div.image {
	position: relative;
	left :60%;
	
}


footer {
	position: absolute;
	bottom: 0%;
	width: 80%;
	vertical-align: bottom;
	text-align: right;
}
div.summary {
	width:100%;
	position:absolute;
	bottom:300px;
	vertical-align: bottom
}

a:visited {
	color: blue;
	text-decoration: none;
}

h3 {
	font-family: Serif;
}

